CompileFlags:
  # 核心配置：指定交叉编译器，clangd 会自动解析其内置的 C++ 头文件路径
# Compiler: "/opt/toolchain/Xuantie-900-gcc-linux-6.6.0-glibc-x86_64-V3.0.2/bin/riscv64-unknown-linux-gnu-g++"
  Remove:
    - "-mcpu=c908v"          # 移除未知的 c908v CPU 参数
    - "-mtune=c908"           # 移除和 lp64d 冲突的 abi 参数
    - "-march=rv64imac_zicsr_zifencei"  # 移除冲突的 march 参数
    - "-mno-riscv-attribute"
    - "-fno-allow-store-data-races"
    - "-fconserve-stack"
    - "-mrvv-v0p10-compatible"
    - "-mrvv-auto-vectorize"
    - "-ffixed-gp"
  # 补充 K230 架构必需的编译参数（避免架构相关报错）
  Add:
#    - "-mabi=lp64d"
#    - "-march=rv64gcv"
    - "-Wno-unknown-cpu"
    - "-Wno-unused-command-line-argument"
    - "-I/opt/toolchain/Xuantie-900-gcc-linux-6.6.0-glibc-x86_64-V3.0.2/riscv64-unknown-linux-gnu/include/c++/14.1.1"
    - "-I/opt/toolchain/Xuantie-900-gcc-linux-6.6.0-glibc-x86_64-V3.0.2/riscv64-unknown-linux-gnu/include/c++/14.1.1/riscv64-unknown-linux-gnu"
    - "--sysroot=/home/wangjianxin/k230/k230_linux_sdk/output/k230_canmv_01studio_defconfig/host/riscv64-buildroot-linux-gnu/sysroot"


Index:
  Background: Build

Diagnostics:
  # 屏蔽架构相关的无效警告
  Suppress:
    - "drv_unknown_argument"  # 屏蔽交叉编译器参数相关的无关警告
    - "unknown-cpu"
    - "unused-command-line-argument"

#rm -rf camera_rtsp_demo/ vvcam/ ffmpeg-4.4.4  display/ face_detect libmmz/ librtsp_server/  mvx_player/  uvc-gadget*/
#bear make;
