COPTS +=-D_PRE_WLAN_FEATURE_20_40_80_COEXIST
COPTS +=-D_PRE_PRODUCT_ID_WITP=0
COPTS +=-D_PRE_PRODUCT_ID_WF51=1
COPTS +=-D_PRE_PRODUCT_ID_HI1152=2
COPTS +=-D_PRE_PRODUCT_ID_HI1102_DEV=3
COPTS +=-D_PRE_PRODUCT_ID_HI1102_HOST=4
COPTS +=-D_PRE_PRODUCT_ID_MP13_DEV=5
COPTS +=-D_PRE_PRODUCT_ID_MP13_HOST=6
COPTS +=-D_PRE_PRODUCT_ID=_PRE_PRODUCT_ID_MP13_HOST
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5610EVB=0
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5610DMB=1
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_1102COMMON=2
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_VSPM310DMB=3
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_WS835DMB=4
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_E5=5
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_ONT=6
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5630HERA=7
COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_CPE=8
COPTS +=-D_PRE_CONFIG_TARGET_PRODUCT=_PRE_TARGET_PRODUCT_TYPE_1102COMMON

COPTS +=-D_PRE_WLAN_PLAT_SUPPORT_HOST_HSO

COPTS +=-D_PRE_WLAN_FEATURE_WS73

#低功耗调试宏,仅本地验证开启
#COPTS +=-D_PRE_PLT_PM_DEBUG

COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_THREAD=0
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_TASKLET=1
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_TYPE=_PRE_FRW_FEATURE_PROCCESS_ENTITY_THREAD

COPTS +=-D_PRE_WLAN_FEATURE_PMF

COPTS +=-D_PRE_WLAN_FEATURE_TPC_TX_DSCR_BIT8=0
COPTS +=-D_PRE_WLAN_FEATURE_TPC_TX_DSCR_BIT20=1
COPTS +=-D_PRE_WLAN_FEATURE_TPC_TX_DSCR_BITX=_PRE_WLAN_FEATURE_TPC_TX_DSCR_BIT20

COPTS +=-D_PRE_WLAN_CHIP_FPGA_MP01RF=0
COPTS +=-D_PRE_WLAN_CHIP_FPGA_WF51RF=1
COPTS +=-D_PRE_WLAN_CHIP_ASIC=2
COPTS +=-D_PRE_WLAN_CHIP_FPGA=3
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_ASIC

COPTS +=-D_PRE_MAX_WIDTH_20M=0
COPTS +=-D_PRE_MAX_WIDTH_40M=1
COPTS +=-D_PRE_MAX_WIDTH_80M=2
COPTS +=-D_PRE_WLAN_FEATURE_WIDTH_MODE=_PRE_MAX_WIDTH_40M

COPTS +=-D_PRE_WLAN_SUPPORT_SINGLE_NSS=0
COPTS +=-D_PRE_WLAN_SUPPORT_DOUBLE_NSS=1
COPTS +=-D_PRE_WLAN_SUPPORT_TRIPLE_NSS=2
COPTS +=-D_PRE_WLAN_SUPPORT_FOUR_NSS=3
COPTS +=-D_PRE_WLAN_FEATURE_NSS_MODE=_PRE_WLAN_SUPPORT_SINGLE_NSS


COPTS +=-D_PRE_WLAN_802_11B=1
COPTS +=-D_PRE_WLAN_802_11G=2
COPTS +=-D_PRE_WLAN_802_11A=4
COPTS +=-D_PRE_WLAN_802_11N=8
COPTS +=-D_PRE_WLAN_802_11AC=16
COPTS +=-D_PRE_WLAN_PROTOCAL_VER=_PRE_WLAN_802_11B+_PRE_WLAN_802_11G+_PRE_WLAN_802_11A+_PRE_WLAN_802_11N

COPTS +=-D_PRE_CHIP_BITS_MIPS64=1
COPTS +=-D_PRE_CHIP_BITS_MIPS32=0
COPTS +=-D_PRE_CHIP_BITS=_PRE_CHIP_BITS_MIPS32

COPTS +=-D_PRE_TEST_MODE_OFF=0
COPTS +=-D_PRE_TEST_MODE_UT=1
COPTS +=-D_PRE_TEST_MODE_ST=2
COPTS +=-D_PRE_TEST_MODE_BOARD_ST=3
COPTS +=-D_PRE_TEST_MODE=_PRE_TEST_MODE_OFF

COPTS +=-D_PRE_HW_DEVICE_REGISTER_WITP=0
COPTS +=-D_PRE_HW_DEVICE_REGISTER_HI1102=1
COPTS +=-D_PRE_HW_DEVICE_VERSION=_PRE_HW_DEVICE_REGISTER_HI1102

COPTS +=-D_PRE_WLAN_SIM_CHIP=0
COPTS +=-D_PRE_WLAN_REAL_CHIP=1
COPTS +=-D_PRE_WLAN_CHIP_SIM=_PRE_WLAN_REAL_CHIP

COPTS +=-D_PRE_MULTI_CORE_MODE_SMP=0
COPTS +=-D_PRE_MULTI_CORE_MODE_PIPELINE_AMP=1
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_HMAC=2
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC=3
COPTS +=-D_PRE_MULTI_CORE_MODE=_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC

COPTS +=-D_PRE_WLAN_RF_MP01_MPW2=0
COPTS +=-D_PRE_WLAN_RF_VERSION=_PRE_WLAN_RF_MP01_MPW2

COPTS +=-D_PRE_BIG_CPU_ENDIAN=0
COPTS +=-D_PRE_LITTLE_CPU_ENDIAN=1
COPTS +=-D_PRE_CPU_ENDIAN=_PRE_LITTLE_CPU_ENDIAN

COPTS +=-DWL_BUS_SDIO=0
COPTS +=-DWL_BUS_PCIE=1
COPTS +=-DWL_BUS_USB=2
COPTS +=-DHH503_WL_BUS=WL_BUS_SDIO

COPTS +=-D_PRE_DBAC_HI_TIMERX=0
COPTS +=-D_PRE_DBAC_MDRV_TIMER=1
COPTS +=-D_PRE_DBAC_OFFLOAD_TIMER=2
COPTS +=-D_PRE_WLAN_FEATRUE_DBAC_TIMER=_PRE_DBAC_OFFLOAD_TIMER

COPTS +=-DRELEASE_TYPE=DEBUG
COPTS +=-D_PRE_CONFIG_PANIC_DUMP_SUPPORT
COPTS +=-D_PRE_CONFIG_WLAN_THRANS_THREAD_DEBUG
COPTS +=-D_PRE_CONFIG_CONN_SOFTWDFT
COPTS +=-DCONFIG_SPIN_LOCK_MAGIC_DEBUG
COPTS +=-D_PRE_PLAT_FEATURE_CUSTOMIZE
#COPTS +=-D_PRE_WLAN_FEATURE_SPECIAL_PKT_LOG
COPTS +=-D_PRE_PLAT_FEATURE_MP0X_SDIO_GPIO_WAKE
COPTS +=-D_PRE_OAL_FEATURE_SDT
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_IRQ_STAT
COPTS +=-D_PRE_WLAN_DFT_DUMP_DSCR
COPTS +=-D_PRE_WLAN_FEATURE_PM
COPTS +=-D_PRE_WLAN_FFD
COPTS +=-D_PRE_WLAN_FEATURE_PSM
COPTS +=-D_PRE_WLAN_REG_DEBUG
COPTS +=-D_PRE_WLAN_FEATURE_STAT
#COPTS +=-D_PRE_WLAN_FEATURE_PK_MODE
#自动调频，需要打开，fpga不支持自动调频
COPTS +=-D_PRE_WLAN_FEATURE_CUSTOM_SECURITY
COPTS +=-D_PRE_WLAN_FEATURE_11D
COPTS +=-D_PRE_WLAN_FEATURE_DEV_RX_DSCR_CTL
#COPTS +=-D_PRE_WLAN_FEATURE_WOW_OFFLOAD
#COPTS +=-D_PRE_WLAN_FEATURE_DYNAMIC_OFFLOAD
COPTS +=-D_PRE_WLAN_FEATURE_CLASSIFY
COPTS +=-D_PRE_WLAN_FEATURE_MAC_PARSE_TIM
#COPTS +=-D_PRE_WLAN_FEATURE_ALWAYS_TX
COPTS +=-D_PRE_WLAN_FEATURE_AMPDU
COPTS +=-D_PRE_WLAN_FEATURE_AMSDU
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST
COPTS +=-D_PRE_WLAN_FEATURE_STA_PM
COPTS +=-D_PRE_PSM_DEBUG_MODE
COPTS +=-D_PRE_WLAN_WS86_FPGA
ifneq ($(WIFI_LITE_EXTREME),y)
COPTS +=-D_PRE_WLAN_FEATURE_P2P
endif
#混杂模式，需要打开，结构体在平台，存在编译问题暂时无法解决
# COPTS +=-D_PRE_WLAN_FEATURE_SNIFFER
COPTS +=-D_PRE_WLAN_FEATURE_UAPSD
COPTS +=-D_PRE_WLAN_FEATURE_WAPI
#COPTS +=-D_PRE_WLAN_FEATURE_AMPDU_TX_HW

ifneq ($(BUILD_TARGET_TYPE),ws73_noax)
#11AX基础特性宏，只有打开11AX基础特性宏才能使用其他特性宏
COPTS +=-D_PRE_WLAN_FEATURE_11AX
#以下为11AX其他特性宏
COPTS +=-D_PRE_WLAN_11AX_20M_ONLY
COPTS +=-D_PRE_WLAN_FEATURE_11AX_ER_SU_DCM
else
$(warning "Build target type is $(BUILD_TARGET_TYPE), will close some macro!")
endif

#bsle产品宏默认关闭，网关形态才开启
#COPTS +=-D_PRE_BSLE_GATEWAY
#COPTS +=-D_PRE_WLAN_FEATURE_PSD_ANALYSIS
ifeq ($(BUILD_TARGET_TYPE),main_wf56)
$(warning "Build target type is $(BUILD_TARGET_TYPE), will open some macro!")
COPTS +=-D_PRE_BSLE_GATEWAY
endif
COPTS +=-D_PRE_WLAN_FEATURE_CCPRIV
COPTS +=-D_PRE_WLAN_FEATURE_ALG_CFG
COPTS +=-D_PRE_WLAN_FEATURE_INTRF_MODE
#为适配低版本不支持WPA3的主控内核,该宏移至Kconfig开放
#COPTS +=-D_PRE_WLAN_FEATURE_WPA3
COPTS +=-D_PRE_WLAN_FEATURE_FRW_DEBUG

COPTS +=-DDIAG_PRINT
COPTS +=-DCONFIG_SUPPORT_NEW_DIAG
COPTS +=-DCONFIG_SUPPORT_SAMPLE_DATA

COPTS +=-D_PRE_WLAN_FEATURE_ACS
#COPTS +=-D_PRE_WLAN_FEATURE_ANT_SWITCH
#COPTS +=-D_PRE_WLAN_FEATURE_OFFLOAD_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_QUE_CLASSIFY
COPTS +=-D_PRE_WLAN_RATE_RTS
COPTS +=-D_PRE_WLAN_FEATURE_MIDDLE_GI
COPTS +=-D_PRE_WLAN_FEATURE_MVAP_SCH
COPTS +=-D_PRE_WLAN_FEATURE_SCH_STRATEGY_PROPO_FAIR
COPTS +=-D_PRE_WLAN_FEATURE_SCH_STRATEGY_ROUND_ROBIN
COPTS +=-D_PRE_WLAN_FEATURE_USER_RESP_POWER
COPTS +=-D_PRE_WLAN_FEATURE_AGGR_OPTIMIZE
COPTS +=-D_PRE_WLAN_FEATURE_DYNAMIC_BANDWIDTH
COPTS +=-D_PRE_WLAN_FEATURE_COMP_TEMP
COPTS +=-D_PRE_SUPPORT_DFS
#73未适配寄存器宏，需要适配
COPTS +=-D_PRE_WLAN_FEATURE_VOWIFI
#数采相关，寄存器宏需要适配
#COPTS +=-D_PRE_WLAN_FEATURE_HISTREAM
COPTS +=-D_PRE_WLAN_FEATURE_MEM_OPT
#COPTS +=-D_PRE_WLAN_FEATURE_MAC_PARSE_TIM
COPTS +=-D_PRE_WLAN_PHY_IRQ_ENABLE
#COPTS +=-D_PRE_WLAN_FEATURE_SINGLE_RF_RX_BCN
COPTS +=-D_PRE_PM_TBTT_OFFSET_PROBE
COPTS +=-D_PRE_WLAN_03_MPW_RF
COPTS +=-D_PRE_WLAN_FEATURE_NO_FRM_INT
#以下为92/73差异宏配置
COPTS +=-D_PRE_FRW_EVENT_PROCESS_TRACE_DEBUG
COPTS +=-D_PRE_WLAN_FEATURE_GCMP_256_CCMP256

# set Coverage options
ifeq ($(DBG_COVERAGE), y)
DEBFLAGS += --coverage
endif

# set compiler CFLAG
EXTRA_CFLAGS = $(INCS) $(COPTS) $(DEBFLAGS)

#COPTS +=-D_PRE_WLAN_FEATURE_CSI
COPTS +=-D_PRE_WLAN_MP13_DDC_BUGFIX
#adapt tcp small queue bugfix for linux 4.9
COPTS +=-D_PRE_WLAN_MP13_TCP_SMALL_QUEUE_BUGFIX

COPTS +=-DDMAC_ON_HOST
COPTS +=-D_PRE_DFX_USER_CONNECT_INFO_RECORD
COPTS +=-D_PRE_PRODUCT_ID_HOST

COPTS +=-D_PRE_WLAN_FEATURE_DFS_OFFLOAD
COPTS +=-D_PRE_WLAN_PLAT_WS83
ifeq ($(BOARD_FUNC), DG)
COPTS +=-D_PRE_WLAN_FPGA_DIGITAL
endif
COPTS +=-D_PRE_WLAN_FEATURE_STA_DNB
#gso support
COPTS +=-D_PRE_WLAN_FEATURE_GSO

COPTS +=-D_PRE_WLAN_SMOOTH_PHASE

COPTS +=-D_PRE_WLAN_GPIO_SERVICE
COPTS +=-D_PRE_PLAT_PM_API

#COPTS +=-D_PRE_WLAN_FEATURE_WFA_SUPPORT
