# set compiler macro
COMM_COPTS =-D_PRE_PRODUCT_ID_WITP=0
COMM_COPTS +=-D_PRE_PRODUCT_ID_WF51=1
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1152=2
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1102_DEV=3
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1102_HOST=4
COMM_COPTS +=-D_PRE_PRODUCT_ID_MP13_DEV=5
COMM_COPTS +=-D_PRE_PRODUCT_ID_MP13_HOST=6
COMM_COPTS +=-D_PRE_PRODUCT_ID=_PRE_PRODUCT_ID_MP13_HOST
COMM_COPTS +=-D_PRE_PRODUCT_ID_MP0X_HOST


#COMM_COPTS +=-D_PRE_WLAN_FEATURE_TXOPPS


ifeq ($(CONFIG_WSXX_KERNEL_MODULES_BUILD_SUPPORT), yes)
$(warning build modules $(CONFIG_WSXX_KERNEL_MODULES_BUILD_SUPPORT))
COPTS +=-DCONFIG_WSXX_KERNEL_MODULES_BUILD_SUPPORT
else
$(warning built-in $(CONFIG_WSXX_KERNEL_MODULES_BUILD_SUPPORT))
endif

#COPTS +=-D_PRE_WLAN_FEATURE_11AC_20M_MCS9
#COPTS +=-D_PRE_WLAN_FEATURE_1024QAM
#COPTS +=-D_PRE_WLAN_FEATURE_PSD_ANALYSIS

ifndef RELEASE_TYPE
export RELEASE_TYPE=DEBUG
endif

#add for pruduct type
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5610EVB=0
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5610DMB=1
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_1102COMMON=2
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_VSPM310DMB=3
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_WS835DMB=4
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_E5=5
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_ONT=6
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5630HERA=7
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_CPE=8
COMM_COPTS +=-D_PRE_CONFIG_TARGET_PRODUCT=_PRE_TARGET_PRODUCT_TYPE_1102COMMON

#COMM_COPTS +=-D_PRE_WLAN_FRW_SIMPLE_SCHED
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_THREAD=0
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_TASKLET=1

ifndef _PRE_FRW_FEATURE_PROCCESS_ENTITY_TYPE
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_TYPE=_PRE_FRW_FEATURE_PROCCESS_ENTITY_THREAD
endif

COPTS +=-D_PRE_WLAN_FEATURE_PMF

COPTS +=-D_PRE_WLAN_FEATURE_TPC_TX_DSCR_BIT8=0
COPTS +=-D_PRE_WLAN_FEATURE_TPC_TX_DSCR_BIT20=1
COPTS +=-D_PRE_WLAN_FEATURE_TPC_TX_DSCR_BITX=_PRE_WLAN_FEATURE_TPC_TX_DSCR_BIT20

ifndef CHIP_VERSION
#default choose asic
export CHIP_VERSION=ASIC
endif
COPTS +=-D_PRE_WLAN_CHIP_FPGA_MP01RF=0
COPTS +=-D_PRE_WLAN_CHIP_FPGA_WF51RF=1
COPTS +=-D_PRE_WLAN_CHIP_ASIC=2
COPTS +=-D_PRE_WLAN_CHIP_FPGA=3

ifeq ($(CHIP_VERSION), FPGAMP01RF)
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_FPGA_MP01RF
else ifeq ($(CHIP_VERSION), FPGAWF51RF)
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_FPGA_WF51RF
else ifeq ($(CHIP_VERSION), ASIC)
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_ASIC
endif

COPTS +=-D_PRE_CONFIG_CONN_EXT_SYSFS_SUPPORT
COPTS +=-D_PRE_CONFIG_PANIC_DUMP_SUPPORT
COPTS +=-D_PRE_CONFIG_WLAN_THRANS_THREAD_DEBUG
COPTS +=-D_PRE_CONFIG_CONN_SOFTWDFT

COPTS +=-D_PRE_OAL_FEATURE_TASK_NEST_LOCK

COPTS +=-DCONFIG_SPIN_LOCK_MAGIC_DEBUG
#customize
COPTS +=-D_PRE_PLAT_FEATURE_CUSTOMIZE

COPTS +=-D_PRE_FRW_TIMER_BIND_CPU

#DBDC support
COPTS +=-D_PRE_WLAN_FEATURE_DBDC

# reg rw white list support
# COPTS +=-D_PRE_WLAN_REG_RW_WHITELIST

#move from wifi config
#COPTS +=-D_PRE_WLAN_WAKEUP_SRC_PARSE
COPTS +=-D_PRE_PLAT_FEATURE_MP0X_SDIO_GPIO_WAKE

ifeq ($(_PRE_PLAT_SHA256SUM_CHECK),y)
COPTS +=-D_PRE_PLAT_SHA256SUM_CHECK=1
endif