flash spinand-128M {
	#The size of a physical eraseblock in bytes
	pebsize = 131072
	#The size of a logical eraseblock in bytes (for ubifs)
	lebsize = 126976
	#Number of physical eraseblocks on this device. The total size of the device is determined by pebsize * numpebs
	numpebs = 1024
	#The minimum size in bytes accessible on this device
	minimum-io-unit-size = 2048
	vid-header-offset = 2048
	sub-page-size = 2048
}

image  rootfs.ubifs {
	ubifs {
		extraargs = "-x zlib -U"
		space-fixup = true
	}
	size = 96M
	#mountpoint = "boot"
	flashtype = "spinand-128M"
}

image  rootfs.ubi {
	ubi {
		extraargs=""
	}
	partition ubi_rootfs_part {
		image = "rootfs.ubifs"
		autoresize = true
	}
	size = 100M
	flashtype = "spinand-128M"
}

# image  app.ubifs {
# 	ubifs {
# 		extraargs = "-x zlib -U"
# 		space-fixup = true
# 	}
# 	size = 10M
# 	mountpoint = "little-core/app"
# 	flashtype = "spinand-128M"
# }

# image  app.ubi {
# 	ubi {
# 		extraargs=""
# 	}
# 	partition ubi_app_part {
# 		image = "app.ubifs"
# 		autoresize = true
# 	}
# 	size = 12M
# 	flashtype = "spinand-128M"
# }

# image  data.ubifs {
# 	ubifs {
# 		extraargs = "-x zlib -U"
# 		space-fixup = true
# 	}

# 	size = 48M
# 	mountpoint = "little-core/data"
# 	flashtype = "spinand-128M"
# }

# image  data.ubi {
# 	ubi {
# 		extraargs=""
# 	}
# 	partition ubi_data_part {
# 		image = "data.ubifs"
# 		autoresize = true
# 	}
# 	size = 54M
# 	flashtype = "spinand-128M"
# }

image sysimage-nand.img {
	flash  {}
	flashtype = "spinand-128M"

	partition uboot_spl_a {
		offset = 0
		size = 512K
		image = "uboot/swap_fn_u-boot-spl.bin"
		# image = "swap_spl.bin"
	}

    partition uboot_spl_b {
		offset = 512K
		size = 512K
		image = "uboot/swap_fn_u-boot-spl.bin"
		# image = "swap_spl.bin"
	}

	partition uboot_a {
		offset = 1M
		size = 1M
		image = "uboot/fn_ug_u-boot.bin"
	}

	partition uboot_b {
		offset = 2M
		size = 1M
		image = "uboot/fn_ug_u-boot.bin"
	}

	partition uboot_env_a {
		offset = 3M
		size = 0x20000
		image = "uboot/nand_env.env"
	}

    partition uboot_env_b {
		offset = 0x320000
		size = 0x20000
		image = "uboot/nand_env.env"
	}

	partition linux {
		offset = 4M
		size = 16M
		#opensbi+linux+dtb;
		image = "linux_system.bin"
	}

	partition rootfs_ubi {
		offset = 20M
		size = 100M
		image = "rootfs.ubi"
	}

    # partition app_ubi {
	# 	offset = 66M
	# 	size = 12M
	# 	image = "app.ubi"
	# }

    # partition data_ubi {
	# 	offset = 200M
	# 	size = 54M
	# 	image = "data.ubi"
	# }
}
