ifeq ($(RELEASE_TYPE), DEBUG)
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_LOG
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_WLAN_DFT_IRQ_STAT
COPTS +=-D_PRE_WLAN_DFT_EVENT
COPTS +=-D_PRE_WLAN_DFT_DUMP_DSCR
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME

else ifeq ($(RELEASE_TYPE), RELEASE)
COPTS +=-D_PRE_WLAN_DFT_LOG
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME

else ifeq ($(RELEASE_TYPE), MINIMUM)
else
COPTS +=-D_PRE_WLAN_DFT_LOG
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME
endif

ifeq ($(PHY_PERFORMANCE_ENABLE), y)
COPTS +=-D_PRE_WLAN_PHY_PERFORMANCE
endif

ifeq ($(DBG_ECHO_REG_ENABLE), y)
COPTS +=-D_PRE_DEBUG_ECHO_REG
endif

ifndef DBG_PROFILING_MODE
export DBG_PROFILING_MODE=n
endif

ifeq ($(DBG_PROFILING_MODE), y)
COPTS +=-D_PRE_PROFILING_MODE
endif

ifeq ($(WSCFG_MFG_TEST), y)
COPTS +=-D_PRE_WLAN_FEATURE_MFG_TEST
endif

COPTS +=-D_PRE_WLAN_FEATURE_WS73
COPTS +=-DCONFIG_SUPPORT_MOCKED_SHELL
COPTS +=-DCONFIG_SUPPORT_NEW_DIAG
COPTS +=-DCONFIG_SUPPORT_SAMPLE_DATA
COPTS +=-D_PRE_CONFIG_GPIO_TO_SSI_DEBUG

COPTS +=-D_PRE_MULTI_CORE_MODE_SMP=0
COPTS +=-D_PRE_MULTI_CORE_MODE_PIPELINE_AMP=1
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_HMAC=2
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC=3
COPTS +=-D_PRE_MULTI_CORE_MODE=_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC

COPTS +=-D_PRE_PLAT_DOWN_FW_TEST

COPTS +=-D_PRE_WLAN_REG_RW_WHITELIST
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST_NONE=0
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST_VAP=1
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST_DEVICE=2
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST_CHIP=3
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST_BOARD=4
COPTS +=-D_PRE_WLAN_FEATURE_BLACKLIST_LEVEL=_PRE_WLAN_FEATURE_BLACKLIST_VAP

COPTS +=-DCONFIG_SUPPORT_TSENSOR

# set compiler CFLAG
EXTRA_CFLAGS = $(INCS) $(COPTS) $(DEBFLAGS)
