# set compiler macro
COMM_COPTS =-D_PRE_PRODUCT_ID_WITP=0

COMM_COPTS +=-D_PRE_PRODUCT_ID=_PRE_PRODUCT_ID_MP13_HOST

COMM_COPTS +=-D_PRE_PRODUCT_ID_MP0X_HOST
COMM_COPTS +=-DHOST_SOCKET_DIAG

ifndef RELEASE_TYPE
export RELEASE_TYPE=DEBUG
endif

ifndef CHIP_VERSION
#default choose asic
export CHIP_VERSION=ASIC
endif



COPTS +=-D_PRE_CONFIG_CONN_EXT_SYSFS_SUPPORT
COPTS +=-DCONFIG_SPIN_LOCK_MAGIC_DEBUG
COPTS +=-D_PRE_PLAT_FEATURE_CUSTOMIZE

ifeq ($(CONFIG_PRE_BSLE_GATEWAY),y)
COPTS +=-D_PRE_BSLE_GATEWAY
endif