# Generate by menuconfig


#
# build
#

#
# Configure the compilation environment
#
WSCFG_USING_GCC=y
# WSCFG_USING_LLVM_CLANG is not set
WSCFG_CROSS_COMPILE="$(HI_KERNEL_TOOLCHAINS_NAME)-"
WSCFG_KERNEL_DIR="$(LINUX_DIR)"
WSCFG_EXTRA_CFLAGS=""
WSCFG_EXTRA_PARAMS=""
# WSCFG_ARCH_ARM is not set
WSCFG_ARCH_CUSTOM=y
WSCFG_ARCH_NAME="$(CFG_HI_CPU_ARCH)"
BOARD_ASIC=y
BOARD_ASIC_WIFI=y
WSCFG_BUS_SDIO=y
# WSCFG_BUS_USB is not set
# WSCFG_BUS_UART is not set
WSCFG_LINUX=y
_PRE_OS_VERSION_LINUX=0
_PRE_OS_VERSION_WIN32=1
_PRE_OS_VERSION_WINDOWS=2
_PRE_OS_VERSION_RAW=3
_PRE_OS_VERSION_HiRTOS=4
_PRE_OS_VERSION_WIN32_RAW=5
_PRE_OS_VERSION_LITEOS=6
_PRE_OS_VERSION_ANDROID=7
_PRE_OS_VERSION=0
# end of build

#
# MFG
#
WSCFG_MFG_TEST=y
# end of MFG

#
# WiFi
#

#
# Configure the WiFi ini file
#
WSCFG_INI_DBAC_STA_GC_RATIO=50
WSCFG_INI_DBAC_STA_GO_RATIO=30
CONFIG_INI_PROTOCOL_11AX=y
CONFIG_INI_HOST_GPIO=40
CONFIG_INI_HOST_GPIO_POWER_ON_LEVEL=1
CONFIG_INI_DEVICE_AWAKE_GPIO_IDX=10
CONFIG_INI_DEVICE_AWAKE_GPIO_LEVEL=1
CONFIG_INI_WAKE_UP_GPIO_IDX=70
CONFIG_INI_WAKE_UP_GPIO_LEVEL=1
CONFIG_INI_PLAT_REBOOT_TYPE_GPIO=0
CONFIG_INI_BT_COEX_MODE=1
CONFIG_INI_BSLE_USE_FLASH=0
# end of Configure the WiFi ini file

#
# WiFi feature configuration
#
# WIFI_LITE_EXTREME is not set
WSCFG_WLAN_INIT_VAP_COUNT=2
WIFI_DEBUG=y
# WLAN_WFA_TEST is not set
WIFI_CSA=y
WIFI_WPS=y
# _PRE_WLAN_FEATURE_WPA3 is not set
WSCFG_WIFI_ENHANCE=y
WIFI_BSRP_NFRP=y
WIFI_SLP=y
WIFI_APF=y
WIFI_BASE_ROAM=y
WIFI_11KVR=y
WIFI_MBO=y
WIFI_AUTO_ADJUST_FREQ=y
WIFI_SINGLE_PROXYSTA=y
WIFI_CSI=y
WIFI_M2U=y
WIFI_BLACKLIST=y
WIFI_WAPI=y
WIFI_SDP=y
WIFI_LATENCY_STAT=y
WIFI_PROMISC=y
WIFI_TX_AMSDU=y
WIFI_UAPSD=y
WIFI_ANT_SEL=y
WIFI_PSD=y
WIFI_TWT=y
WIFI_DNB=y
WIFI_SR_STA=y
WIFI_ALG_CCA=y
WIFI_ALG_TEMP_PROTECT=y
WIFI_ALG_TXBF=y
WIFI_ALG_EDCA=y
WIFI_ALG_ANTI_INTF=y
_PRE_WLAN_FEATURE_TX_CLASSIFY_LAN_TO_WLAN=y
WIFI_WOW=y
WIFI_ALWAYS_TX=y
_PRE_WLAN_DFT_STAT=y
_PRE_WLAN_FEATURE_SNIFFER=y
WIFI_BASE_DFR=y
_PRE_WLAN_FEATURE_DFR=y
_PRE_WLAN_DFR_STAT=y
WIFI_DAQ=y
_PRE_WLAN_SUPPORT_CCPRIV_CMD=y
WIFI_BTCOEX=y
WIFI_ONLINE_CALI=y
_PRE_WLAN_WIRELESS_EXT=y
WIFI_TCP_ACK_FILTER=y
# CONTROLLER_CUSTOMIZATION is not set
# end of WiFi

#
# Platform
#
_PRE_PLAT_SHA256SUM_CHECK=y
# CONFIG_SUPPORT_SHA256_MEM_USING_VMALLOC is not set
WSCFG_ONEIMAGE=y
WSCFG_PLAT_VARIABLE_FEATRUE=y
WSCFG_PLAT_DIAG_LOG_OUT=y
CONFIG_DIAG_SUPPORT_SOCKET=y
CONFIG_DIAG_SUPPORT_UART=y
CONFIG_DIAG_SUPPORT_LOCAL_LOG=y
CONFIG_DFX_SUPPORT_SHELL_PROC=y
CONFIG_PLAT_SUPPORT_DFR=y
CONFIG_PLAT_DFR_OUTPUT_PATH="/etc/ws73"
# CONFIG_PLAT_SUPPORT_DFR_TRIGGER is not set
CONFIG_HCC_SUPPORT_TEST=y
CONFIG_HCC_ERROR_PRINT=y
_PRE_PLAT_HCC_SDIO=y
CONFIG_HCC_SDIO_SUPPORT_SCATTER=y
BT_EM_BUFFER_CALI_SUPPORT=y
# _PRE_PLAT_SLP_UART_FORWARD is not set
CONFIG_DFX_SUPPORT_SYSFS=y
CONFIG_SDIO_RESCAN=y

#
# Configure the loading path of files such as firmware
#
CONFIG_FIRMWARE_BIN_PATH="/etc/ws73/ws73.bin"
CONFIG_FIRMWARE_WIFICALI_PATH="/etc/ws73/wifi_cali.bin"
CONFIG_FIRMWARE_BSLECALI_PATH="/etc/ws73/btc_cali.bin"
CONFIG_FIRMWARE_WOW_PATH="/etc/ws73/wow.bin"
CONFIG_INI_FILE_PATH="/etc/ws73_cfg.ini"
# end of Configure the loading path of files such as firmware

# CONFIG_STR_RESUME_ASYNC is not set
# CONFIG_STR_SUSPEND_WAIT_USB_DISCONNECT is not set
# CONFIG_ANDROID_FEATURE is not set
# CONFIG_SUPPORT_RESET_DEVICE_IN_INSMOD is not set
# CONFIG_SUPPORT_STATIC_FIRMWARE_MEM is not set
# CONFIG_GPIO_USING_HI_DRV is not set
# CONFIG_SUPPORT_HCC_CONN_CHECK is not set
# CONFIG_GPIO_ADAPTIVE_POWER_ON_LEVEL is not set
# CONFIG_MFG_GPIO_CTRL is not set
CONFIG_INI_STR_LPM_MODE=0
# CONFIG_NO_SECUREC is not set
# PLAT_LITE_EXTREME is not set
# CONFIG_PRE_BSLE_GATEWAY is not set
# CONFIG_HCC_SUPPORT_HEARTBEAT is not set
# end of Platform

#
# BLE
#
WSCFG_BLE_COMPILE_BY_DEFAULT=y

#
# Configure the bsle ini file
#
# CONFIG_INI_BLE_DISABLE_LL_PRIVACY is not set
# CONFIG_INI_BSLE_SUSPEND_MODE is not set
CONFIG_INI_BSLE_SUSPEND_SCAN_INTERVAL=300
CONFIG_INI_BSLE_SUSPEND_SCAN_WINDOW=30
# CONFIG_INI_BSLE_FRONT_SWITCH is not set
# end of Configure the bsle ini file

CONFIG_BLE_MAC_FORK=y
# end of BLE

#
# SLE
#
WSCFG_SLE_COMPILE_BY_DEFAULT=y
# end of SLE
