config VVCAM
	tristate "Verisilicon ISP driver for K230"
	default n
	depends on VIDEO_DEV
	select VVCAM_VB
	select VVCAM_MIPI
	select VVCAM_ISP
	select VVCAM_ISP_SUBDEV
	select VVCAM_VIDEO

config VVCAM_VB
	tristate "Verisilicon ISP driver for K230 VB"
	depends on VVCAM

config VVCAM_MIPI
	tristate "Verisilicon ISP driver for K230 MIPI"
	depends on VVCAM
	
config VVCAM_ISP
	tristate "Verisilicon ISP driver for K230 ISP"
	depends on VVCAM

config VVCAM_ISP_SUBDEV
	tristate "Verisilicon ISP driver for K230 ISP Subdev"
	depends on VVCAM
	select V4L2_FWNODE

config VVCAM_VIDEO
	tristate "Verisilicon ISP driver for K230 Video"
	depends on VVCAM
	select VIDEOBUF2_DMA_CONTIG
